# Model file from https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/faster-rcnn/model/FasterRCNN-10.onnx
model.onnx

# Discord bot token
token.json

# CockrachDB cert
cert/